/* header */
body{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}



header {
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
}


.logo {
    width: 250px;
    height: 150px;
}

/* fine header */

/* main */
main {
    font-family: Arial, Helvetica, sans-serif;
}

/* info h4 */
.grey {
    color: gray
}

time {
    color: grey;
}

/* paragrafo */
.author {
    font-style: italic;
}

/* evidenziamento paragrafo */
.evidence {
    background-color: yellow;

}

section {
    padding-top: 1%;
}

table {
    width: 100%;
    border-collapse: collapse
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #5dade2;
    color: white;
}

/* colore riga */
.riga-colore {
    background-color: lightblue;
}

/* paragrafo */
.space {
    padding: 10px;
}

/* h3 footer */
h3 {
    margin: 0px
}